body {
    margin: auto;
    text-align: center;
    font-family: sans-serif;
}

.links a {
    float: right;
    margin-top: 2em;
    margin-right: 20px;
    color: black;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}

.links a:hover {
    text-decoration: underline;
}

.logo {
    margin-bottom: none;
    zoom:90%;
}

.field {
    border-radius: 25px;
    margin-bottom: 30px;
    width: 35rem;
    height: 41px;
    border:lightgray solid 1px;
    box-sizing: border-box;
    margin-top: none;
    padding: 1em;
}

.field:hover {
    box-shadow: 0px 0px 5px #ccc;
}

.field:focus {
    border: none;
}


.btn {
    border-radius: 4px;
    width: 128px;
    height: 32px;
    border: none;
    color:rgb(50, 49, 49);
    background-color: rgb(245, 245, 245);
}

.btn:hover {
    border: solid lightgray 1px;
}

.advanced {
    text-align: left;
    margin-left: 20px;
    font-size: 14px;
}

.advanced td {
    width: 50%
}

.advanced p {
    font-size: 16px;
}

td > input {
    width: 300%;
}

td > input:focus {
    outline-color: royalblue;
}



.btnAdv {
    background-color:rgb(69, 110, 231);
    color: white;
    border:none;
    width: 10%;
    border-radius: 2px;
    margin: 10px;
}

#search {
    display: inline;
}

#btnFeeling {
    display: inline;
}